checkpoint
_data
normalized_training_data
training_data_statistic
training_data_statistic_applist
training_data_statistic_applist_female
training_data_statistic_applist_male
training_data_statistic_brands
training_data_statistic_brands_female
training_data_statistic_brands_male
training_data_statistic_gender
training_data_statistic_province
training_data_statistic_province_female
training_data_statistic_province_male
aiwar_train_data
aiwar_train_data.gz
oversample_tabbed_training_data
tabbed_data.tar.bz2
tabbed_training_data
undersample_tabbed_training_data
__t
split
aiwar_match_data
aiwar_match_data.gz
oversample_onehot_training_data
undersample_onehot_training_data
*.npy
*.index
*.meta
*.pyc
*.data-00000-of-00001

